:root{
  --dark-blue: hsl(233, 47%, 7%);
  --desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --soft-violet-overlay: hsl(276.5, 73.2%, 30.8%);

  --white: hsl(0, 0%, 100%);
  --transparent-white-p: hsla(0, 0%, 100%, 0.75);
  --transparent-white-h: hsla(0, 0%, 100%, 0.6);

  --font-family-primary: 'Inter', sans-serif;;
  --font-family-secondary: 'Lexend Deca', sans-serif;;
  --font-size: 15px;
  --line-height: 18px;

  --border-radius: .5rem;
  --padding-sm: 1rem;
  --padding-md: 1rem;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body{
  min-height: 100vh;
  height: 100%;
}

body{
  background-color: var(--dark-blue);
}

body, p{
  font-family: var(--font-family-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
  
  color: var(--transparent-white-p);
}

h1{
  font-size: 1.5rem;
  line-height: 2rem;
}

.main-container{
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding: var(--padding-sm);
}

.card{
  max-width: 400px;
  background-color: var(--desaturated-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;

  border-radius: var(--border-radius);
}

.card-img{
  background-color: var(--soft-violet-overlay);

  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

  .card-img > img{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.4;
    
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  .card-content{
    padding: var(--padding-sm);
  }

    .card-title{
      color: var(--white);
      padding: 1rem 0 .5rem 0;
      white-space: pre-line;
    }

    .card-description{
      line-height: 1.5rem;
      padding: var(--padding-sm) 0;
      white-space: pre-line;
    }

    .card-info{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 1rem;
      padding: var(--padding-sm);

      list-style-type: none;
    }

      .info-metrics,
      .info-description{
        display: block;
      }

      .info-description{
        font-family: var(--font-family-secondary);
      }

      .info-metrics{
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;
        text-transform: uppercase;
      }

      .info-description{
        padding: .5rem 0;
        text-transform: uppercase;
        font-size: .8rem;
        letter-spacing: .1rem;
        color: var(--transparent-white-h);
      }

.text-highlighted{
  color: var(--soft-violet);
}

@media screen and (min-width: 375px){
  .card-title,
  .card-description{
    white-space: normal;
  }
}

@media screen and (min-width: 1440px){
  h1{
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .card{
    max-width: 1000px;
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: "c-content c-image";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }

  .card-img{
    height: 100%;
    grid-area: c-image;
    border-top-left-radius: 0;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

    .card-img > img{
      border-top-left-radius: 0;
      border-bottom-right-radius: var(--border-radius);
      height: 100%;
    }

  .card-content{
    grid-area: c-content;
    padding: 3rem;
  }
  
  .card-title{
    padding: .5rem 0;
  }

  .card-info{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2.5rem 0 0;
  }
}

@media screen and (min-width: 1440px){

  .card-img{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .card-content{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}